@charset "utf-8";
body {
    width: 100%;
    height: 1500px;
    background-color: #D9DFDE;
}

.bullet {
    list-style-type: none;
    width: auto;
    border-bottom-style: solid;
    border-bottom-color: #050303;
    padding-bottom: 16px;
}


.horizontal {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    width: 10%;
}
.gapTop {
    display: inline-block;
    width: 36%;
}

.navbardiv {
    width: 60%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.navbarName {
    color: #2E4B77;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    list-style-type: none;
    width: 30%;
    text-align: center;
    height: 100%;
    display: inline-block;
}

.navbartext {
    color: #2E4B77;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    height: auto;
    font-size: 25px;
    position: relative;
    top: 5px;
    width: 0px;
}
.navbartext:hover {
    color: #F8A2A4;
}
.navbartext:visited {
    color: #B993FF;
}
.ProjectIcon {
    background-color: #DF9C9D;
    width: 42.5%;
    height: 100%;
    float: left;
    clear: right;
}
.ProjectTitle {
    width: 50%;
    font-size: x-large;
    text-align: center;
    background-color: #F8F1F1;
    border: 3px solid #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    position: relative;
    left: 25%;
    height: 40px;
}
.ProjectBlurb {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 25px;
    position: relative;
    display: inline-block;
    float: right;
    clear: right;
    height: 80%;
    width: 100%;
    margin-top: 5%;
}
.IconBoarder {
    border-width: 3px;
    border-right-style: solid;
    border-right-color: #FFFFFF;
}
.LineSlider {
    height: 300px;
    background-color: #F8B4B5;
    width: 50%;
    position: relative;
    left: 25%;
    border: 3px solid #FFFFFF;
    margin-top: 30px;
}

.BeattheMachine {
    height: 300px;
    background-color: #F8B4B5;
    width: 50%;
    position: relative;
    left: 25%;
    border: 3px solid #FFFFFF;
    margin-top: 30px;
}
.PuzHamVR {
    height: 300px;
    background-color: #F8B4B5;
    width: 50%;
    position: relative;
    left: 25%;
    border: 3px solid #FFFFFF;
    margin-top: 30px;
}
.aboutmeImage {
    width: 300px;
    margin-left: 40%;
    height: 300px;
    text-align: center;
    margin-top: 36px;
}
.aboutmeBlurb {
    text-align: center;
    width: 40%;
    margin-left: auto;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 150%;
    margin-right: auto;
}
.socialmedia {
    width: 300px;
    text-align: center;
    margin-left: 750px;
    margin-top: 118px;
}

.socialmediaIcons {
    float: left;
    padding-right: 3%;
    margin-left: 60px;
    margin-right: 15px;
    text-align: center;
}
.emailIcon {
    float: left;
    padding-right: 1%;
    margin-top: -4px;
    margin-right: -20px;
}

.email {
    text-align: center;
    width: 350px;
    height: 40px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 25px;
    margin-left: auto;
}
.line {
    border-bottom: thick groove #7D92A0;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
.resume {
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.trailer {
    width: 60%;
    font-size: medium;
    text-align: center;
    margin-left: 20%;
}
.trailertitle {
    height: 60px;
    width: 40%;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 50px;
    margin-left: 30%;
    margin-bottom: 10px;
}
.float {
    width: 200px;
    padding-left: 0px;
    height: 200px;
    float: left;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
.info {
    margin-top: 8px;
    margin-left: 30%;
    width: 69%;
}
.infotitle {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: -8px;
    width: 120px;
}


.infodetail {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    margin-left: -53px;
    margin-top: 6px;
    font-size: 14px;
}
.powerup {
    float: left;
    margin-left: 35%;
    margin-bottom: 48px;
}
.powerupicon {
    width: 200px;
    float: left;
    margin-top: 30px;
}

.powerupblurb {
    float: left;
    width: 350px;
    margin-left: 90px;
    margin-top: 21px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.skilltreeblurb {
    float: left;
    width: 500px;
    height: 500px;
    margin-left: 50px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}




.skilltreeicons {
    margin-left: 0px;
    width: 550px;
    height: 500px;
    float: left;
}
.skilltree {
    width: 80%;
    height: 500px;
    float: left;
    margin-left: 25%;
    margin-top: 40px;
}
.youtubetrailer {
    margin-bottom: 18px;
    margin-top: 13px;
    margin-left: 30%;
}
h1 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.NPCHam {
    float: left;
    margin-left: 30%;
    margin-bottom: 48px;
}

.hamIcon {
    width: 300px;
    float: left;
}
.hamblurb {
    width: 450px;
    float: left;
    margin-left: 35px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.ProjectText {
    float: right;
    clear: right;
    height: 100%;
    width: 57%;
}
.readmorebutton {
    background-color: #A2B9ED;
    width: 10%;
    font-size: 25px;
    color: #000000;
    display: inline-block;
    position: relative;
    left: 45%;
    height: 30px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 5px;
}
.readmorebutton:hover {
    background-color: #A3D2E9;
}

@media (max-width:415px){
.navbardiv {
    width: 90%;
}
.horizontal {
    width: 83px;
}
.navbarName {
    font-size: 28px;
    width: 100%;
}
.bullet {
}

.navbartext {
    font-size: 20px;
    width: 50px;
}
.gapTop {
    width: 5%;
}
.LineSlider {
    width: 90%;
    left: 2.5%;
    height: 175px;
}
.BeattheMachine {
    width: 90%;
    left: 2.5%;
    height: 175px;
}
.PuzHamVR {
    width: 90%;
    left: 2.5%;
    height: 175px;
}
.ProjectText {
}
.ProjectBlurb {
    font-size: 12px;
    margin-top: 12px;
    width: 95%;
    margin-right: 5px;
}
.ProjectTitle {
    font-size: 15px;
    height: 20px;
}
.readmorebutton {
    font-size: 15px;
    width: 75px;
    left: 40%;
    height: 20px;
}



}
